@charset "UTF-8";

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

body {
  font-weight: 400;
  font-size: 16px;
  color: #4B5563;
  line-height: 1.2;
  font-family: "Segoe UI";
}

.modal {
  background-color: rgba(204, 204, 204, 0.85);
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
}

.modal-content {
  border-radius: 8px !important;
  border: 1px solid #DBEAFE;
  background: #FFF;
  box-shadow: none;
  padding: 24px 16px;
}

.modal-content.modal-participants {
  width: 260px;
  border-radius: 4px !important;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal-content.host-modal {
  width: 490px;
}

.modal-content.join-modal {
  width: 480px;
}

.modal-content.schedule-modal {
  width: 560px;
}

.modal-content.screen-modal {
  width: 510px;
}

.modal-content.settings-modal {
  width: 365px;
}

.modal-content.details-modal {
  width: 455px;
}

.modal-content.end-meeting-modal {
  width: 300px;
}

.button-cancel {
  border: 1px solid #DBEAFE;
  background-color: #fff;
  color: #1E3A8A;
}

.button-submit {
  color: #fff;
  background-color: #3B82F6;
}

.button-leave {
  color: #1E3A8A;
  border: 1px solid #DBEAFE !important;
  background-color: #FFF;
}

.video-chat-page__container {
  max-width: 1392px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

.video-chat-page__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 24px 0;
}

.video-chat-page__action {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px;
  max-width: 240px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px !important;
  border: 1px solid #DBEAFE;
  transition: all 0.3s ease 0s;
}

.video-chat-page__action-text {
  font-weight: 600;
  margin: 0;
}

.meetings-block {
  padding: 24px 16px;
  margin-bottom: 24px;
  border-radius: 8px !important;
  border: 1px solid #DBEAFE;
}

.meetings-block__title {
  color: #3B82F6;
  font-weight: 600;
  font-size: 16px;
  padding: 0 0 24px 0;
  margin: 0 0 24px 0;
  border-bottom: 1px solid #DBEAFE;
}

.meetings-block__items {
  display: grid;
  gap: 24px;
}

.meetings-item {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 16px;
  border-radius: 6px !important;
  border: 1px solid #DBEAFE;
}

.meetings-item__top {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #DBEAFE;
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
}

.meetings-item__title {
  color: #111827;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.meetings-item__start {
  color: #3B82F6;
  font-size: 14px;
  font-weight: 600;
}

.meetings-item__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.meetings-item__info-item {
  display: flex;
  row-gap: 6px;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  line-height: 1.2;
}

.meetings-item__info-title {
  color: #9CA3AF;
}

.meetings-item__info-text {
  font-weight: 600;
}

.meetings-item__link {
  display: flex;
  row-gap: 6px;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.meetings-item__link a {
  font-weight: 600;
  color: #3B82F6;
  word-break: break-all;
}

.meetings-item__link-title {
  color: #9CA3AF;
}

.video-chat-modal {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  position: relative;
}

.video-chat-modal__header {
  padding-bottom: 24px;
  border-bottom: 1px solid #DBEAFE;
}

#details-modal .video-chat-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-chat-modal__form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.video-chat-modal__title {
  color: var(--primary-blue-blue-500, #3B82F6);
  font-weight: 600;
  margin: 0;
}

.video-chat-modal__body {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.video-chat-modal__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.video-chat-modal__item.item-general {
  gap: 14px;
}

.video-chat-modal__item select {
  flex: 0 1 50%;
  font-size: 14px !important;
  font-weight: 400;
  color: #9CA3AF !important;
  border-radius: 6px !important;
  border: 1px solid #DBEAFE;
}

.video-chat-modal__item select._form-error {
  border: 1px solid #F11E3A;
}

.video-chat-modal__label {
  color: #111827;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.video-chat-modal__inputs {
  display: flex;
  align-items: center;
  gap: 8px;
}

.video-chat-modal__inputs p {
  color: #111827;
  font-size: 14px;
  margin: 0;
}

.video-chat-modal__counter {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #DBEAFE;
  border-radius: 6px !important;
  padding-right: 12px;
}

.video-chat-modal__counter._form-error {
  border: 1px solid #F11E3A;
}

.video-chat-modal__counter-input {
  padding: 8px 12px;
  font-size: 14px !important;
  color: #4B5563 !important;
  outline: none;
  border: none;
  background-color: #fff;
}

.video-chat-modal__counter-input::placeholder {
  color: #9CA3AF;
}

.video-chat-modal__counter-buttons {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.video-chat-modal__counter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: #fff;
}

.video-chat-modal__counter-button::before {
  content: "";
  width: 12px;
  height: 8px;
  background: url("../img/video-chat-page/icons/arrow.svg") no-repeat center;
}

.video-chat-modal__counter-button_decrement {
  transform: rotate(180deg);
}

.video-chat-modal__input {
  border: 1px solid #DBEAFE;
  border-radius: 6px !important;
  padding: 8px 12px;
  font-size: 14px !important;
  color: #4B5563 !important;
  outline: none;
  background-color: #fff;
}

.video-chat-modal__input:focus {
  border: 1px solid #DBEAFE;
  box-shadow: none;
}

.video-chat-modal__input::placeholder {
  color: #9CA3AF;
}

.video-chat-modal__input._form-error {
  border: 1px solid #F11E3A;
}

.video-chat-modal__checkbox {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #111827;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.video-chat-modal__checkbox input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: 0;
  width: 1px !important;
  height: 1px;
}

.video-chat-modal__checkbox input:checked + span::before {
  background-image: url("../img/video-chat-page/icons/checkbox-checked.svg");
}

.video-chat-modal__checkbox span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-chat-modal__checkbox span::before {
  content: "";
  background: url("../img/video-chat-page/icons/checkbox.svg") no-repeat center;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.video-chat-modal__copy-link {
  padding: 8px 12px;
  border-radius: 6px !important;
  border: 1px solid #DBEAFE;
  display: flex;
  align-items: center;
  gap: 6px;
}

.video-chat-modal__copy-link a {
  color: #3B82F6;
  font-size: 16px;
}

.video-chat-modal__copy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

.video-chat-modal__button-plus {
  align-self: start;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 42px !important;
  border: 1px dashed #9CA3AF;
  transition: transform 0.3s ease 0s;
}

.video-chat-modal__button-plus img {
  width: 18px;
}

.video-chat-modal__participants {
  display: flex;
  align-items: center;
}

.video-chat-modal__participants._form-error > .video-chat-modal__button-plus {
  border: 1px dashed #F11E3A;
}

.video-chat-modal__participants-list {
  display: flex;
  align-items: center;
  margin: 0;
}

.video-chat-modal__participant {
  overflow: hidden;
  list-style: none;
  border-radius: 50% !important;
  border: 1px solid var(--neutrals-white, #FFF);
}

.video-chat-modal__participant:not(:first-child) {
  margin-left: -12px;
}

.video-chat-modal__participant:last-child {
  margin-right: 8px;
}

.video-chat-modal__footer {
  display: flex;
  gap: 24px;
}

.video-chat-modal__button {
  padding: 12px 16px;
  transition: all 0.3s ease 0s;
  border-radius: 6px !important;
  font-size: 14px;
  font-weight: 600;
  flex-grow: 1;
  border: none;
}

.video-chat-modal__error {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #F11E3A;
}

.video-chat-modal__share-screen {
  border-radius: 4px !important;
  border: 2px solid #3B82F6;
  width: 100%;
  min-height: 318px;
}

.details-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.details-info__item {
  display: flex;
  align-items: flex-start;
}

.details-info__title {
  color: #9CA3AF;
  font-size: 14px;
  flex: 0 0 120px;
}

.details-info__imfo {
  color: var(--grey-grey-600, #4B5563);
  font-size: 14px;
  font-weight: 600;
  flex-grow: 1;
}

.details-info__copy-link {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.details-info__copy-link a {
  color: #4B5563;
  font-size: 14px;
  font-weight: 600;
  word-break: break-all;
}

.details-info__copy-link-button {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #3B82F6;
  font-size: 14px;
  border: none;
  background: transparent;
}

.modal-participants {
  padding: 16px;
  width: 260px;
}

.modal-participants__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.modal-participants__search {
  position: relative;
  border-bottom: 1px solid #DBEAFE;
}

.modal-participants__search::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("../img/video-chat-page/icons/search.svg") no-repeat center;
}

.modal-participants__search input {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 5px;
  font-size: 14px !important;
  font-weight: 400;
  color: #9CA3AF !important;
  border: none;
}

.modal-participants__search input:focus {
  border: none;
  box-shadow: none;
}

.modal-participants__search input::placeholder {
  font-size: 14px !important;
  font-weight: 400;
  color: #9CA3AF !important;
}

.modal-participants__close {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: transform 0.3s ease 0s;
}

.modal-participants__close::before {
  content: "";
  background: url("../img/video-chat-page/icons/close.svg") center;
  width: 16px;
  height: 16px;
}

.modal-participants__wrapper {
  overflow-x: auto;
  height: 180px;
  padding-right: 5px;
}

.modal-participants__items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-participants__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  border-radius: 4px !important;
  background-color: #fff;
  transition: background-color 0.3s ease 0s;
}

.modal-participants__item::after {
  content: "";
  transition: all 0.3s ease 0s;
  visibility: hidden;
  opacity: 0;
  background: url("../img/video-chat-page/icons/participants-check.svg") no-repeat center;
  width: 18px;
  height: 18px;
}

.modal-participants__item.active {
  background-color: #dae9fc;
}

.modal-participants__item.active::after {
  visibility: visible;
  opacity: 1;
}

.modal-participants__item-info {
  display: flex;
  gap: 4px;
  align-items: center;
  flex: 1 1 auto;
}

.modal-participants__item-info img {
  flex: 0 0 24px;
  border-radius: 50% !important;
  overflow: hidden;
}

.modal-participants__item-info p {
  margin: 0;
}

.call-page {
  padding: 24px 0;
}

.call-page__container {
  max-width: 1392px;
  padding: 0 15px;
  box-sizing: content-box;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  position: relative;
}

.call-page__video {
  display: flex;
  flex-direction: column;
  flex: 0 1 1020px;
}

.call-page__date {
  color: #9CA3AF;
  font-size: 14px;
  margin-bottom: 6px;
}

.call-page__title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 16px 0;
}

.call-page__participants {
  margin-bottom: 24px;
}

.call-page__actions {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.call-page__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.call-page__button {
  position: relative;
  width: 44px;
  height: 44px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50% !important;
  background-color: #6B7280;
  transition: transform 0.3s ease 0s;
}

.call-page__button_mic::before {
  content: "";
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/call-page/icons/mic.svg") no-repeat center/cover;
}

.call-page__button_mic.mic-off::before {
  background: url("../img/call-page/icons/mic-off.svg") no-repeat center/cover;
}

.call-page__button_camera::before {
  content: "";
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/call-page/icons/vid.svg") no-repeat center/cover;
}

.call-page__button_camera.cam-off::before {
  background: url("../img/call-page/icons/vid-off.svg") no-repeat center/cover;
}

.call-page__button_share-scr::after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 5;
  top: -31px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 8px;
  background-color: #4B5563;
  color: #fff;
  font-size: 12px;
  border-radius: 2px !important;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

.call-page__button_share-scr::before {
  opacity: 0;
  visibility: hidden;
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  border: solid transparent;
  border-width: 4px;
  border-top-color: #4B5563;
  transform: translateX(-50%);
  transition: all 0.3s ease 0s;
}

.call-page__button_settings::after {
  opacity: 0;
  visibility: hidden;
  content: attr(data-tooltip);
  position: absolute;
  z-index: 5;
  top: -31px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 8px;
  background-color: #4B5563;
  color: #fff;
  font-size: 12px;
  border-radius: 2px !important;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
}

.call-page__button_settings::before {
  opacity: 0;
  visibility: hidden;
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  border: solid transparent;
  border-width: 4px;
  border-top-color: #4B5563;
  transform: translateX(-50%);
  transition: all 0.3s ease 0s;
}

.call-page__button_chat {
  display: none;
}

.call-page__end-meeting-btn {
  display: flex;
  width: 72px;
  height: 44px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 100px !important;
  background-color: #EF4444;
  border: none;
  transition: transform 0.3s ease 0s;
}

.call-page__end-meeting-btn::before {
  content: "";
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background: url("../img/call-page/icons/phone.svg");
}

.call-page__chat {
  flex: 0 1 348px;
}

.call-participants {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.call-participants__big-item {
  height: 438px;
  position: relative;
  border-radius: 6px !important;
  overflow: hidden;
  position: relative;
}

.call-participants__big-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.call-participants__big-item.camera-off .camera-off-overlay {
  display: block;
}

.call-participants__big-item.camera-off .camera-off-overlay > img {
  width: 120px;
  height: 120px;
}

.call-participants__top-buttons {
  position: absolute;
  z-index: 5;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.call-participants__pin-button {
  width: 32px;
  height: 32px;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #4B5563;
}

.call-participants__pin-button::before {
  content: "";
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/call-page/icons/pin.svg") no-repeat center/cover;
}

.call-participants__mic-button {
  position: absolute;
  z-index: 5;
  top: 6px;
  right: 6px;
  width: 24px;
  height: 24px;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #4B5563;
}

.mic-off .call-participants__mic-button::before {
  background: url("../img/call-page/icons/mic-off.svg") no-repeat center/cover;
}

.call-participants__mic-button::before {
  content: "";
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/call-page/icons/mic.svg") no-repeat center/cover;
}

.call-participants__big-item .call-participants__mic-button {
  position: static;
  width: 32px;
  height: 32px;
}

.call-participants__big-item .call-participants__mic-button.mic-off::before {
  background: url("../img/call-page/icons/mic-off.svg") no-repeat center/cover;
}

.call-participants__big-item .call-participants__mic-button::before {
  width: 20px;
  height: 20px;
}

.call-participants__name {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  color: #FAFAFA;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 8px;
  border-radius: 0px 4px 0px 0px !important;
  background-color: #4B5563;
}

.call-participants__video > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.call-participants__video .camera-off-overlay {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6B7280;
}

.call-participants__video .camera-off-overlay > img {
  position: absolute;
  z-index: 3;
  width: 62px;
  height: 62px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 50% !important;
  overflow: hidden;
}

.call-participants__items-wrapper {
  overflow-x: auto;
  max-width: 1020px;
}

.call-participants__items-wrapper::-webkit-scrollbar {
  height: 6px;
  border-radius: 100px !important;
  background-color: #fff;
}

.call-participants__items-wrapper::-webkit-scrollbar-thumb:horizontal {
  height: 6px;
  border-radius: 100px !important;
  background-color: #D1D5DB;
}

.call-participants__small-items {
  display: flex;
  gap: 16px;
  padding-bottom: 14px;
}

.call-participants__small-item {
  height: 163px;
  position: relative;
  border-radius: 4px !important;
  overflow: hidden;
  flex: 0 0 243px;
  position: relative;
}

.call-participants__small-item.camera-off .camera-off-overlay {
  display: block;
}

.call-participants__hover-buttons {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  padding: 6px 8px;
  align-items: center;
  gap: 16px;
  border-radius: 8px !important;
  background-color: rgba(75, 85, 99, 0.7);
  transition: all 0.3s ease 0s;
}

.call-participants__hover-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.call-participants__hover-button::after {
  opacity: 0;
  visibility: hidden;
  content: attr(data-tooltip);
  position: absolute;
  z-index: 5;
  top: -31px;
  left: 50%;
  transform: translateX(-100%);
  padding: 6px 8px;
  background-color: #4B5563;
  color: #fff;
  font-size: 12px;
  border-radius: 2px !important;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
}

.call-participants__hover-button::before {
  opacity: 0;
  visibility: hidden;
  content: "";
  position: absolute;
  top: -6px;
  border: solid transparent;
  border-width: 4px;
  border-top-color: #4B5563;
  transition: all 0.3s ease 0s;
}

.call-participants__hover-button.btn-full::after {
  transform: none;
}

.chat-tabs {
  display: flex;
  flex-direction: column;
  background-color: #F3F4F6;
  border: 1px solid var(--primary-blue-blue-100, #DBEAFE);
  border-radius: 6px !important;
}

.chat-tabs__top {
  padding: 16px;
  border-bottom: 1px solid #DBEAFE;
}

.chat-tabs__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px 6px;
}

.chat-tabs__button {
  display: flex;
  justify-content: center;
  padding: 8.5px 8px;
  flex: 1 0 0;
  border-radius: 6px !important;
  color: #3B82F6;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
  border: none;
}

.chat-tabs__button.active {
  background-color: #3B82F6;
  color: #fff;
}

.chat-tabs__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.chat-tabs__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.chat-tabs__body#participants {
  display: none;
}

.chat-tabs__messages {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 18px;
  overflow-y: auto;
  max-height: 643px;
}

.chat-tabs__messages::-webkit-scrollbar {
  width: 0;
}

.chat-tabs__message p {
  margin: 0;
  margin-top: -8px;
  width: 100%;
  max-width: 240px;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px 0px 6px 6px !important;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.06);
}

.chat-tabs__message_outgoing p {
  align-self: flex-start;
  color: #FFF;
  background-color: #3B82F6;
}

.chat-tabs__message_incoming p {
  align-self: flex-end;
  color: #9CA3AF;
  background-color: #FFF;
}

.message-sender {
  display: flex;
  flex-direction: column;
  gap: -8px;
}

.message-sender__info {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.chat-tabs__message_incoming .message-sender__info {
  flex-direction: row-reverse;
}

.message-sender__info-row {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-tabs__message_incoming .message-sender__info-row {
  flex-direction: row-reverse;
}

.message-sender__info-left {
  display: flex;
  align-items: center;
  gap: 2px;
}

.message-sender__more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.message-sender__more-button::before {
  content: "";
  background: url("../img/call-page/icons/more.svg") no-repeat center;
  width: 16px;
  height: 16px;
}

.message-sender__time {
  color: #9CA3AF;
  font-size: 12px;
}

.message-sender__name {
  color: #111827;
  font-size: 14px;
}

.message-sender__image {
  width: 32px;
  height: 32px;
  border-radius: 50% !important;
  border: 1px solid #FFF;
  overflow: hidden;
}

.message-sender__image img {
  max-width: 100%;
}

.message-sender__text {
  word-break: break-all;
}

.file-message {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 4px !important;
  border: 1px solid #DBEAFE;
  background-color: #FFF;
  max-width: 240px;
}

.file-message__wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.file-message__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.file-message__icon::before {
  content: "";
  background: url("../img/call-page/icons/file.svg") no-repeat center;
  width: 18px;
  height: 18px;
}

.file-message__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-self: flex-start;
  flex: 1 1 auto;
}

.file-message__name {
  color: #111827;
  font-size: 12px;
  font-weight: 600;
}

.file-message__size {
  color: #9CA3AF;
  font-size: 12px;
  text-transform: uppercase;
}

.file-message__remove {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
}

.file-message__remove::before {
  content: "";
  background: url("../img/call-page/icons/remove.svg") no-repeat center;
  width: 100%;
  height: 100%;
}

.loading .file-message__remove::before {
  background: url("../img/call-page/icons/close-attach.svg") no-repeat center;
}

.file-message__loading {
  height: 3px;
  border-radius: 16px !important;
  background-color: #3B82F6;
  transition: all 0.3s ease 0s;
}

.send-message {
  border-top: 1px solid #DBEAFE;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
}

.send-message__input {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 6px !important;
  border: 1px solid #DBEAFE;
  background-color: #FFF;
  flex: 1 1 auto;
  padding-right: 8px;
}

.send-message__input input[type=text] {
  color: #111827;
  padding: 7px 0 7px 8px;
  font-size: 14px;
  border: none;
}

.send-message__input input[type=text]:focus {
  border: none;
  box-shadow: none;
}

.send-message__button {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 6px !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  height: 32px;
  border: none;
  transition: all 0.3s ease 0s;
}

.send-message__attachment {
  cursor: pointer;
  margin: 0;
}

.chat-participants {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 18px;
}

.chat-participants__item {
  display: flex;
  padding: 4px 8px;
  justify-content: space-between;
  align-items: center;
}

.chat-participants__item-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chat-participants__image {
  width: 32px;
  height: 32px;
  border-radius: 50% !important;
  overflow: hidden;
  position: relative;
}

.chat-participants__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.chat-participants__image .default-avatar {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #3B82F6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.chat-participants__name {
  color: #111827;
  font-size: 14px;
}

.chat-participants__hand-icon {
  display: none;
  align-items: center;
  justify-content: center;
}

.chat-participants__hand-icon::before {
  content: "";
  background: url("../img/call-page/icons/hand-blue.svg") no-repeat center;
  width: 20px;
  height: 20px;
}

.chat-participants__hand-icon.raise {
  display: flex;
}

.chat-participants__item-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chat-participants__button-mic {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.chat-participants__button-mic::before {
  content: "";
  background: url("../img/call-page/icons/mic-black.svg") no-repeat center;
  width: 16px;
  height: 16px;
}

.chat-participants__button-mic.mic-off::before {
  background: url("../img/call-page/icons/mic-black-off.svg") no-repeat center;
}

.chat-participants__button-vid {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.chat-participants__button-vid::before {
  content: "";
  background: url("../img/call-page/icons/vid-black.svg") no-repeat center;
  width: 16px;
  height: 16px;
}

.chat-participants__button-vid.cam-off::before {
  background: url("../img/call-page/icons/vid-black-off.svg") no-repeat center;
}

@media (min-width: 991.98px) {
  .meetings-block__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1300px) {
  .call-page__button_chat {
    display: flex;
  }

  .call-page__chat {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
    max-width: 350px;
    width: 100%;
    transform: translateX(200%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
  }

  .call-page__chat.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767.98px) {
  .video-chat-page__actions {
    flex-direction: column;
  }

  .meetings-item__info {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (max-width: 479.98px) {
  .modal-content {
    width: 100%;
  }

  .video-chat-page__action {
    max-width: none;
  }

  .meetings-item__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .video-chat-modal__inputs {
    flex-direction: column;
    align-items: stretch;
  }

  .video-chat-modal__error {
    top: 50px;
    left: 16px;
  }
}

@media (any-hover: hover) {
  .button-cancel:hover {
    background-color: #EFF6FF;
  }

  .button-submit:hover {
    background-color: #1C6EF1;
  }

  .button-leave:hover {
    background-color: #DBEAFE;
  }

  .video-chat-page__action:hover {
    background-color: #DBEAFE;
  }

  .video-chat-modal__button-plus:hover {
    transform: rotate(180deg);
  }

  .modal-participants__close:hover {
    transform: rotate(90deg);
  }

  .modal-participants__item:hover {
    background-color: #dae9fc;
  }

  .call-page__button:hover {
    transform: scale(1.06);
  }

  .call-page__button:hover::before,
  .call-page__button:hover::after {
    opacity: 1;
    visibility: visible;
  }

  .call-page__end-meeting-btn:hover {
    transform: scale(1.06);
  }

  .call-participants__small-item:hover .call-participants__hover-buttons {
    opacity: 1;
    visibility: visible;
  }

  .call-participants__hover-button:hover::before,
  .call-participants__hover-button:hover::after {
    opacity: 1;
    visibility: visible;
  }
}